body {
  background-color: #2f90bd;
  font-family: 'Roboto', sans-serif;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #172875;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color:#2650aa; 
    transition: 0.2s;
  }
  
  div {
    border-radius: 5px;
  }

  input, button {
    font-family: 'Roboto', sans-serif;
  }